@import './src/styles/variables.scss';

.addLecturersForm {
    //display: flex;
    //flex-direction: column;
    width:50vw;
    height: 50vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    font-size: 1rem;//20px
}


.formTitle{
color: #fbbb21;
}

.formSubmit{
    display: flex;

    
}

label{
    color:#6c6b6b;
    
}