@import './src/styles/variables.scss';

.addLecturersForm {
    //display: flex;
    //flex-direction: column;
    width:50vw;
    height: 50vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    font-size: 1rem;//20px
}

.buttonSection{
    display:flex;
    justify-content: center;
    align-items: center;
}

.btn{
    color: $baseColor;
}

.container-form{
    background-color:white;
    border: 1px solid $logoColor;
    border-radius: 10px;
}