@import './src/styles/variables.scss';

.home {
  font-size:24px;
  min-width:500px;
  max-width:1800px;
  border-left:5px solid $logoColor;
  border-right:5px solid $logoColor;
  background-color: white;
  padding: 50px;
}


h4 {
  text-align:center;
  font-size:1.6em;
  line-height:3.5em;
  background-color: white;
  color: $textColor;

}


.options{
display:flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
background: white;
}


.optionsDivLeft{
  flex-grow: 1;
  flex-basis: 0;
  font-size:1em;
  line-height:0.5em;
  background-color: $logoColor;
  border: 1px solid $logoColor;
  border-radius: 10px;
  margin-right: 25px;
  transition: all 0.4s ease 0s;
}

.optionsDivLeft p {
  margin:15px 0;
  padding:15px;
  text-align: center;
  color: $baseColor;
}

.optionsDivCenter {
  flex-grow: 1;
  flex-basis: 0;
  font-size:1em;
  line-height:0.5em;
  background-color: $logoColor;
  border: 1px solid $logoColor;
  border-radius: 10px;
  margin-right: 25px;
  transition: all 0.4s ease 0s;
  
}

.optionsDivCenter p{
  margin:15px 0;
  padding:15px;
  text-align: center;
  color: $baseColor;
}

.optionsDivRight {
  flex-grow: 1;
  font-size:1em;
  flex-basis: 0;
  line-height:0.5em;
  background-color: $logoColor;
  border: 1px solid $logoColor;
  border-radius: 10px;
  transition: all 0.4s ease 0s;
}

.optionsDivRight p  {
  margin:15px 0;
  padding:15px;
  text-align: center;
  color: $baseColor;
}

.navLinks:link{
  text-decoration: none;
}


.optionsDivLeft:hover, .optionsDivCenter:hover, .optionsDivRight:hover{
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}


@media all and (max-width:769px) {
  .home {
    font-size:15px;
  }

  .options{
    display:flex;
  }

  .optionsDivLeft, .optionsDivCenter, .optionsDivRight {
    margin:15px;
  }

  .optionsDivLeft p, .optionsDivCenter p, .optionsDivRight p{
      margin:15px 0;
      padding:15px;
      text-align: center;
      color: $baseColor;
  }

}

